<div id="dataset-business-english" data-tab="ds-business-english" role="tabpanel" data-wordlist-dataset="business-english"
 xmlns="http://www.w3.org/1999/xhtml">
	<div class="resp-hide--med">
		<div class="nav-entry-mob clrd">
			<div class="nav-entry-mob__datasets dropdown dropdown--pad-a dropdown--white">
				<span class="btn btn--dropdown js-toggle" data-target-selector="#cdo-mob-datasetsbusiness-english">
					<span id="mobEntryDictName">Business</span>
				</span>
				<div id="cdo-mob-datasetsbusiness-english" class="dropdown__box rounded">
					<ul class="unstyled">
						<li>
							<a href="#dataset-british" class="js-trigger " data-tab="ds-british" data-target-trigger="#aTabEntrybritish" data-target-updtext="#mobEntryDictName">English</a>
						</li>
						<li>
							<a href="#dataset-american-english" class="js-trigger " data-tab="ds-american-english" data-target-trigger="#aTabEntryamerican-english"
							 data-target-updtext="#mobEntryDictName">American</a>
						</li>
						<li>
							<a href="#dataset-business-english" class="js-trigger  on " data-tab="ds-business-english" data-target-trigger="#aTabEntrybusiness-english"
							 data-target-updtext="#mobEntryDictName">Business</a>
						</li>
						<li>
							<a href="#dataset-example" class="js-trigger " data-tab="ds-example" data-target-trigger="#aTabEntryexample" data-target-updtext="#mobEntryDictName">Examples</a>
						</li>
					</ul>
				</div>
			</div>
			<a href="#" class="nav-entry-mob__content-toggle txt-block txt-block--alt3 js-toggle" title="View table of contents" data-target-selector="#cdo-mob-tocbusiness-english">
				<i class="fcdo fcdo-navicon"></i> Contents</a>
			<div id="cdo-mob-tocbusiness-english" class="clr nav-entry-mob__content hide">
				<aside role="complementary">
					<div data-toc="ds-british" class="mod mod--style4 mod--flush mod-toc resp resp--med" style="display:block">
						<div class="h3 txt-block txt-block--alt3 flush resp-show--med">Contents</div>
						<ul class="unstyled unstyled-nest accord js-accord-ul">
							<li class="section">
								<a>noun
									<span class="smaller">(3)</span>
								</a>
								<ul>
									<li>
										<a onclick="ga('send','event', 'navigation', 'navigation-link' );" href="#british-1-1-1" title="size meaning
">
											<span class="hw">size</span>
											<span class="alt gw">(AMOUNT)</span>
										</a>
									</li>
									<li>
										<a onclick="ga('send','event', 'navigation', 'navigation-link' );" href="#british-1-1-2" title="size meaning
">
											<span class="hw">size</span>
											<span class="alt gw">(MEASURE)</span>
										</a>
									</li>
									<li>
										<a onclick="ga('send','event', 'navigation', 'navigation-link' );" href="#british-1-1-3" title="size meaning
">
											<span class="hw">size</span>
											<span class="alt gw">(GLUE)</span>
										</a>
									</li>
								</ul>
							</li>
							<li class="section">
								<a>verb
									<span class="smaller">(1)</span>
								</a>
								<ul>
									<li>
										<a onclick="ga('send','event', 'navigation', 'navigation-link' );" href="#british-1-2-1" title="size meaning
">
											<span class="hw">size</span>
											<span class="alt gw">(1)</span>
										</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
					<div data-toc="ds-american-english" class="mod mod--style4 mod--flush mod-toc resp resp--med" style="display:none">
						<div class="h3 txt-block txt-block--alt3 flush resp-show--med">Contents</div>
						<ul class="unstyled unstyled-nest accord js-accord-ul">
							<li class="section">
								<a>noun
									<span class="smaller">(2)</span>
								</a>
								<ul>
									<li>
										<a onclick="ga('send','event', 'navigation', 'navigation-link' );" href="#american-english-1-1-1" title="size meaning
">
											<span class="hw">size</span>
											<span class="alt gw">(DEGREE)</span>
										</a>
									</li>
									<li>
										<a onclick="ga('send','event', 'navigation', 'navigation-link' );" href="#american-english-1-1-2" title="size meaning
">
											<span class="hw">size</span>
											<span class="alt gw">(MEASURE)</span>
										</a>
									</li>
								</ul>
							</li>
							<li class="section">
								<a>adjective
									<span class="smaller">(1)</span>
								</a>
								<ul>
									<li>
										<a onclick="ga('send','event', 'navigation', 'navigation-link' );" href="#american-english-1-2-1" title="size meaning
">
											<span class="hw">size</span>
											<span class="alt gw">(OF PARTICULAR DEGREE)</span>
										</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
					<div data-toc="ds-business-english" class="mod mod--style4 mod--flush mod-toc resp resp--med" style="display:none">
						<div class="h3 txt-block txt-block--alt3 flush resp-show--med">Contents</div>
						<ul class="unstyled unstyled-nest accord js-accord-ul">
							<li class="section">
								<a>noun
									<span class="smaller">(3)</span>
								</a>
								<ul>
									<li>
										<a onclick="ga('send','event', 'navigation', 'navigation-link' );" href="#business-english-1-1-1" title="size meaning
">
											<span class="hw">size</span>
											<span class="alt gw">(1)</span>
										</a>
									</li>
									<li>
										<a onclick="ga('send','event', 'navigation', 'navigation-link' );" href="#business-english-1-1-2" title="size meaning
">
											<span class="hw">size</span>
											<span class="alt gw">(2)</span>
										</a>
									</li>
									<li>
										<a onclick="ga('send','event', 'navigation', 'navigation-link' );" href="#business-english-1-1-3" title="size meaning
">
											<span class="hw">size</span>
											<span class="alt gw">(3)</span>
										</a>
									</li>
								</ul>
							</li>
							<li class="section">
								<a>verb
									<span class="smaller">(2)</span>
								</a>
								<ul>
									<li>
										<a onclick="ga('send','event', 'navigation', 'navigation-link' );" href="#business-english-1-2-1" title="size meaning
">
											<span class="hw">size</span>
											<span class="alt gw">(1)</span>
										</a>
									</li>
									<li>
										<a onclick="ga('send','event', 'navigation', 'navigation-link' );" href="#business-english-1-2-2" title="size meaning
">
											<span class="hw">size</span>
											<span class="alt gw">(2)</span>
										</a>
									</li>
								</ul>
							</li>
						</ul>
					</div>
				</aside>
			</div>
		</div>
	</div>
	<div class="entry-nav tabs__tabs js-tabs resp resp--med">
		<!-- NOTE: Tabs count added as a data attribute, can be added via js if required and used to size correctly -->
		<ul data-tabs-count="4" role="tablist">
			<li role="presentation">
				<a href="#dataset-british" id="aTabEntrybritish" class="js-trigger " data-tab="ds-british" role="tab" aria-selected="true"
				 data-target-updtext="#mobEntryDictName">English</a>
			</li>
			<li role="presentation">
				<a href="#dataset-american-english" id="aTabEntryamerican-english" class="js-trigger " data-tab="ds-american-english" role="tab"
				 aria-selected="true" data-target-updtext="#mobEntryDictName">American</a>
			</li>
			<li role="presentation">
				<a href="#dataset-business-english" id="aTabEntrybusiness-english" class="js-trigger  on " data-tab="ds-business-english"
				 role="tab" aria-selected="true" data-target-updtext="#mobEntryDictName">Business</a>
			</li>

			<li role="presentation">
				<a href="#dataset-example" id="aTabEntryexample" data-tab="ds-example" class="js-trigger " role="tab" aria-selected="true"
				 data-target-updtext="#mobEntryDictName">Examples</a>
			</li>
		</ul>
	</div>

	<div class="cdo-dblclick-area">
		<div class="di superentry" itemprop="text">
			<div class="di-head">
				<div class="di-title">
					<h2 class="hw" title="what is &amp;ldquo;size&amp;rdquo;?">
						"size" in Business English
					</h2>
				</div>

				<a href="https://dictionary.cambridge.org/dictionary/english/size#translations" class="see-all-translations a--rev">
					<i class="fcdo fcdo-caret-right" aria-hidden="true"> </i>
					<b>See all translations</b>
				</a>

			</div>
			<div class="di-body">
				<div class="entry">
					<div class="entry-body">
						<div class="entry-body__el clrd js-share-holder">
							<div class="pos-header">
								<div class="h3 di-title cdo-section-title-hw">
									<span class="headword">
										<span class="hw">size</span>
									</span>
									<span class="posgram ico-bg">
										<span class="pos" title="A word that refers to a person, place, idea, event or thing.">noun</span>
									</span>
								</div>
								<span class="pron-info">
									<span class="uk">
										<span class="region">uk</span>
										<span title="size: listen to British English pronunciation" data-src-mp3="https://dictionary.cambridge.org/media/english/uk_pron/u/uks/uksit/uksitua011.mp3"
										 data-src-ogg="https://dictionary.cambridge.org/media/english/uk_pron_ogg/u/uks/uksit/uksitua011.ogg" class="circle circle-btn sound audio_play_button uk">
											<i class="fcdo fcdo-volume-up">​</i>
										</span>
									</span>
									<span class="uk">
										<span class="pron">/
											<span class="ipa">saɪz</span>/</span>
									</span>
								</span>
								<span class="pron-info">
									<span class="us">
										<span class="region">us</span>
										<span title="size: listen to American pronunciation" data-src-mp3="https://dictionary.cambridge.org/media/english/us_pron/s/siz/size_/size.mp3"
										 data-src-ogg="https://dictionary.cambridge.org/media/english/us_pron_ogg/s/siz/size_/size.ogg" class="circle circle-btn sound audio_play_button us">
											<i class="fcdo fcdo-volume-up">​</i>
										</span>
									</span>
								</span>

								<div class="share rounded js-share">
									<span class="point"></span>
									<a class="circle bg--fb socialShareLink" title="Share this entry on Facebook" href="https://www.facebook.com/sharer.php?u=https%3A%2F%2Fdictionary.cambridge.org%2Fdictionary%2Fenglish%2Fsize&amp;t=size+Meaning+in+the+Cambridge+English+Dictionary"
									 target="_blank" data-social="facebook" data-url="https://www.facebook.com/sharer.php?u=https%3A%2F%2Fdictionary.cambridge.org%2Fdictionary%2Fenglish%2Fsize&amp;t=size+Meaning+in+the+Cambridge+English+Dictionary"
									 data-object="entry">
										<i class="fcdo fcdo-facebook" aria-hidden="true"></i>
									</a>
									<a class="circle bg--tw socialShareLink" title="Tweet this entry" href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fdictionary.cambridge.org%2Fdictionary%2Fenglish%2Fsize&amp;text=size+Meaning+in+the+Cambridge+English+Dictionary"
									 target="_blank" data-social="twitter" data-url="https://twitter.com/intent/tweet?url=https%3A%2F%2Fdictionary.cambridge.org%2Fdictionary%2Fenglish%2Fsize&amp;text=size+Meaning+in+the+Cambridge+English+Dictionary"
									 data-object="entry">
										<i class="fcdo fcdo-twitter" aria-hidden="true"></i>
									</a>
									<a class="circle bg--more js-accord" title="More" href="#">
										<i class="fcdo fcdo-plus"></i>
										<i class="fcdo fcdo-minus"></i>
									</a>
									<div class="oflow-hide js-share-toggle">
										<a class="circle bg--gp socialShareLink" title="Share this entry on Google+" href="https://plus.google.com/share?url=https%3A%2F%2Fdictionary.cambridge.org%2Fdictionary%2Fenglish%2Fsize"
										 target="_blank" data-social="google" data-url="https://plus.google.com/share?url=https%3A%2F%2Fdictionary.cambridge.org%2Fdictionary%2Fenglish%2Fsize"
										 data-object="entry">
											<i class="fcdo fcdo-google-plus" aria-hidden="true"></i>
										</a>
										<a class="circle bg--di socialShareLink" title="Share this entry on Diigo" href="https://www.diigo.com/post?url=https%3A%2F%2Fdictionary.cambridge.org%2Fdictionary%2Fenglish%2Fsize&amp;title=size+Meaning+in+the+Cambridge+English+Dictionary"
										 target="_blank" data-social="diigo" data-url="https://www.diigo.com/post?url=https%3A%2F%2Fdictionary.cambridge.org%2Fdictionary%2Fenglish%2Fsize&amp;title=size+Meaning+in+the+Cambridge+English+Dictionary"
										 data-object="entry">
											<i class="fcdo fcdo-diigo" aria-hidden="true"></i>
										</a>
										<a class="circle bg--su socialShareLink" title="Share this entry on StumbleUpon" href="https://www.stumbleupon.com/likecontent?url=https%3A%2F%2Fdictionary.cambridge.org%2Fdictionary%2Fenglish%2Fsize&amp;title=size+Meaning+in+the+Cambridge+English+Dictionary"
										 target="_blank" data-social="stumbleupon" data-url="https://www.stumbleupon.com/likecontent?url=https%3A%2F%2Fdictionary.cambridge.org%2Fdictionary%2Fenglish%2Fsize&amp;title=size+Meaning+in+the+Cambridge+English+Dictionary"
										 data-object="entry">
											<i class="fcdo fcdo-stumbleupon" aria-hidden="true"></i>
										</a>
										<a class="circle bg--tu socialShareLink" title="Share this entry on Tumblr" href="https://www.tumblr.com/share/link?url=https%3A%2F%2Fdictionary.cambridge.org%2Fdictionary%2Fenglish%2Fsize&amp;name=size+Meaning+in+the+Cambridge+English+Dictionary"
										 target="_blank" data-social="tumblr" data-url="https://www.tumblr.com/share/link?url=https%3A%2F%2Fdictionary.cambridge.org%2Fdictionary%2Fenglish%2Fsize&amp;name=size+Meaning+in+the+Cambridge+English+Dictionary"
										 data-object="entry">
											<i class="fcdo fcdo-tumblr" aria-hidden="true"></i>
										</a>
										<a class="circle bg--re socialShareLink" title="Share this entry on Reddit" href="https://www.reddit.com/submit?url=https%3A%2F%2Fdictionary.cambridge.org%2Fdictionary%2Fenglish%2Fsize&amp;title=size+Meaning+in+the+Cambridge+English+Dictionary"
										 target="_blank" data-social="reddit" data-url="https://www.reddit.com/submit?url=https%3A%2F%2Fdictionary.cambridge.org%2Fdictionary%2Fenglish%2Fsize&amp;title=size+Meaning+in+the+Cambridge+English+Dictionary"
										 data-object="entry">
											<i class="fcdo fcdo-reddit-alien" aria-hidden="true"></i>
										</a>
										<a class="circle bg--def socialShareLink" title="Share this url" dsp-txt="https://dictionary.cambridge.org/dictionary/english/size"
										 data-social="url" data-url="https://dictionary.cambridge.org/dictionary/english/size" data-object="entry">
											<i class="fcdo fcdo-link" aria-hidden="true"></i>
										</a>
									</div>
								</div>
							</div>
							<div class="pos-body">

								<div class="sense-block" id="business-english-1-1-1">
									<div class="sense-body">
										<div class="def-block pad-indent" data-wl-senseid="ID_00015910_01">
											<p class="def-head semi-flush">
												<span class="def-info">
													<span class="freq">›</span>
													<span class="gram">
														<a href="https://dictionary.cambridge.org/help/codes.html">[
															<span class="gcs">
																<span title="Countable noun: a noun that has both singular and plural forms." class="gc">C</span>
															</span>]</a>
													</span>
													<span class="domain">MEASURES</span>
												</span>
												<b class="def">one of the
													<a class="query" href="https://dictionary.cambridge.org/dictionary/english/standard" title="standard">standard</a>
													<a class="query" href="https://dictionary.cambridge.org/dictionary/english/measure" title="measures">measures</a> according to which things are made or
													<a class="query" href="https://dictionary.cambridge.org/dictionary/english/sell"
													 title="sold">sold</a>: </b>
											</p>
											<span class="def-body">
												<div class="examp emphasized">
													<span title="Example" class="eg">a size 14
														<a class="query" href="https://dictionary.cambridge.org/dictionary/english/dress" title="dress">dress</a>
													</span>
												</div>
												<div class="examp emphasized">
													<span title="Example" class="eg">The
														<a class="query" href="https://dictionary.cambridge.org/dictionary/english/product" title="products">products</a>
														<strong class="cl">come in</strong> three
														<strong class="cl">sizes</strong>.</span>
												</div>
											</span>
										</div>
									</div>
								</div>

								<div class="sense-block" id="business-english-1-1-2">
									<div class="sense-body">
										<div class="def-block pad-indent" data-wl-senseid="ID_00015910_02">
											<p class="def-head semi-flush">
												<span class="def-info">
													<span class="freq">›</span>
													<span class="gram">
														<a href="https://dictionary.cambridge.org/help/codes.html">[
															<span class="gcs">
																<span title="Countable noun: a noun that has both singular and plural forms." class="gc">C</span> or
																<span title="Uncountable noun: noun with no plural form. Cannot be used with 'a', 'an', or 'one'."
																 class="gc">U</span>
															</span>]</a>
													</span>
												</span>
												<b class="def">how
													<a class="query" href="https://dictionary.cambridge.org/dictionary/english/big" title="big">big</a> or
													<a class="query" href="https://dictionary.cambridge.org/dictionary/english/small" title="small">small</a> something is: </b>
											</p>
											<span class="def-body">
												<div class="examp emphasized">
													<span title="Example" class="eg">The
														<a class="query" href="https://dictionary.cambridge.org/dictionary/english/maximum" title="maximum">maximum</a>
														<a class="query" href="https://dictionary.cambridge.org/dictionary/english/loan" title="loan">loan</a> size is €125,000.</span>
												</div>
												<div class="examp emphasized">
													<span title="Example" class="eg">Voters were angry at the size of the
														<a class="query" href="https://dictionary.cambridge.org/dictionary/english/budget"
														 title="budget">budget</a>
														<a class="query" href="https://dictionary.cambridge.org/dictionary/english/deficit" title="deficit">deficit</a>.</span>
												</div>
												<div class="examp emphasized">
													<span title="Example" class="eg">No matter what size
														<a class="query" href="https://dictionary.cambridge.org/dictionary/english/company" title="company">company</a> you
														<a class="query" href="https://dictionary.cambridge.org/dictionary/english/work" title="work">work</a> for, you will learn
														<a class="query" href="https://dictionary.cambridge.org/dictionary/english/valuable"
														 title="valuable">valuable</a> lessons about how to
														<a class="query" href="https://dictionary.cambridge.org/dictionary/english/find"
														 title="find">find</a> your
														<a class="query" href="https://dictionary.cambridge.org/dictionary/english/customer" title="customers">customers</a> and
														<a class="query" href="https://dictionary.cambridge.org/dictionary/english/reach" title="reach">reach</a> out to them.</span>
												</div>
												<div class="examp emphasized">
													<span title="Example" class="eg">Regardless of size and
														<a class="query" href="https://dictionary.cambridge.org/dictionary/english/industry"
														 title="industry">industry</a>, most
														<a class="query" href="https://dictionary.cambridge.org/dictionary/english/organization"
														 title="organizations">organizations</a> devote considerable
														<a class="query" href="https://dictionary.cambridge.org/dictionary/english/time"
														 title="time">time</a> and
														<a class="query" href="https://dictionary.cambridge.org/dictionary/english/resource" title="resources">resources</a> to
														<a class="query" href="https://dictionary.cambridge.org/dictionary/english/developing" title="developing">developing</a>
														<a class="query" href="https://dictionary.cambridge.org/dictionary/english/unique" title="unique">unique</a>,
														<a class="query" href="https://dictionary.cambridge.org/dictionary/english/profitable" title="profitable">profitable</a>
														<a class="query" href="https://dictionary.cambridge.org/dictionary/english/area" title="areas">areas</a> of
														<a class="query" href="https://dictionary.cambridge.org/dictionary/english/competence" title="competence">competence</a>.</span>
												</div>
												<div class="examp emphasized">
													<span title="Example" class="eg">Despite the
														<a class="query" href="https://dictionary.cambridge.org/dictionary/english/potential" title="potential">potential</a>
														<strong class="cl">
															<a class="query" href="https://dictionary.cambridge.org/dictionary/english/market" title="market">market</a> size</strong>, no
														<a class="query" href="https://dictionary.cambridge.org/dictionary/english/bank"
														 title="bank">bank</a> was interested in their
														<a class="query" href="https://dictionary.cambridge.org/dictionary/english/proposal"
														 title="proposal">proposal</a>.</span>
												</div>
												<div class="examp emphasized">
													<span title="Lexical unit: a way in which this word is used with one one or more other words or types of words"
													 class="lu">double/triple/quadruple in size</span>
													<span title="Example" class="eg">The
														<a class="query" href="https://dictionary.cambridge.org/dictionary/english/share" title="share">share</a>
														<a class="query" href="https://dictionary.cambridge.org/dictionary/english/sale" title="sale">sale</a> will
														<a class="query" href="https://dictionary.cambridge.org/dictionary/english/enable" title="enable">enable</a> the
														<a class="query" href="https://dictionary.cambridge.org/dictionary/english/company" title="company">company</a> to
														<a class="query" href="https://dictionary.cambridge.org/dictionary/english/double" title="double">double</a> in size over the next three
														<a class="query" href="https://dictionary.cambridge.org/dictionary/english/year"
														 title="years">years</a>.</span>
												</div>
											</span>
										</div>
									</div>
								</div>

								<div class="sense-block" id="business-english-1-1-3">
									<div class="sense-body">
										<div class="phrase-block pad-indent">
											<span class="phrase-head">
												<span title="Phrase" class="phrase-title">
													<span class="phrase">one size fits all</span>
												</span>
											</span>
											<div class="phrase-body pad-indent">
												<div class="def-block pad-indent" data-wl-senseid="ID_00015910_03">
													<p class="def-head semi-flush">
														<span class="def-info">
															<span class="freq">›</span>
														</span>
														<b class="def">the
															<a class="query" href="https://dictionary.cambridge.org/dictionary/english/idea" title="idea">idea</a> that one set of
															<a class="query" href="https://dictionary.cambridge.org/dictionary/english/rule"
															 title="rules">rules</a>, one
															<a class="query" href="https://dictionary.cambridge.org/dictionary/english/solution" title="solution">solution</a>, etc. is suitable for any
															<a class="query" href="https://dictionary.cambridge.org/dictionary/english/situation"
															 title="situation">situation</a>: </b>
													</p>
													<span class="def-body">
														<div class="examp emphasized">
															<span title="Example" class="eg">The
																<a class="query" href="https://dictionary.cambridge.org/dictionary/english/major" title="major">major</a>
																<a class="query" href="https://dictionary.cambridge.org/dictionary/english/charitable" title="charitable">charitable</a>
																<a class="query" href="https://dictionary.cambridge.org/dictionary/english/foundation" title="foundations">foundations</a> were
																<a class="query" href="https://dictionary.cambridge.org/dictionary/english/working"
																 title="working">working</a> on the
																<a class="query" href="https://dictionary.cambridge.org/dictionary/english/assumption"
																 title="assumption">assumption</a> that one size
																<a class="query" href="https://dictionary.cambridge.org/dictionary/english/fit"
																 title="fits">fits</a> all.</span>
														</div>
														<div class="examp emphasized">
															<span title="Example" class="eg">When it comes to choosing an
																<a class="query" href="https://dictionary.cambridge.org/dictionary/english/online"
																 title="online">online</a>
																<a class="query" href="https://dictionary.cambridge.org/dictionary/english/broker" title="broker">broker</a>, one size doesn't always
																<a class="query" href="https://dictionary.cambridge.org/dictionary/english/fit"
																 title="fit">fit</a> all.</span>
														</div>
													</span>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="cols cols--half">
									<div class="cols__col">
										<div class="xref see_also">
											<h3 class="h4 txt-block txt-block--alt">
												<strong class="xref-title">See also</strong>
											</h3>


											<div class="item">
												<a href="https://dictionary.cambridge.org/dictionary/english/economy-size" title="meaning of economy-size">
													<span class="x-h">economy-size</span>
												</a>
											</div>

											<div class="item">
												<a href="https://dictionary.cambridge.org/dictionary/english/full-size" title="meaning of full-size">
													<span class="x-h">full-size</span>
												</a>
											</div>

											<div class="item">
												<a href="https://dictionary.cambridge.org/dictionary/english/giant-size" title="meaning of giant-size">
													<span class="x-h">giant-size</span>
												</a>
											</div>

											<div class="item">
												<a href="https://dictionary.cambridge.org/dictionary/english/king-size" title="meaning of king-size">
													<span class="x-h">king-size</span>
												</a>
											</div>

											<div class="item">
												<a href="https://dictionary.cambridge.org/dictionary/english/large-sized" title="meaning of large-sized">
													<span class="x-h">large-sized</span>
												</a>
											</div>

											<div class="item">
												<a href="https://dictionary.cambridge.org/dictionary/english/medium-sized" title="meaning of medium-sized">
													<span class="x-h">medium-sized</span>
												</a>
											</div>

											<div class="item">
												<a href="https://dictionary.cambridge.org/dictionary/english/one-size-fits-all" title="meaning of one-size-fits-all">
													<span class="x-h">one-size-fits-all</span>
												</a>
											</div>

											<div class="item">
												<a href="https://dictionary.cambridge.org/dictionary/english/palm-sized" title="meaning of palm-sized">
													<span class="x-h">palm-sized</span>
												</a>
											</div>

											<div class="item">
												<a href="https://dictionary.cambridge.org/dictionary/english/pocket-sized" title="meaning of pocket-sized">
													<span class="x-h">pocket-sized</span>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="entry-body__el clrd js-share-holder">
							<div class="pos-header">
								<div class="h3 di-title cdo-section-title-hw">
									<span class="headword">
										<span class="hw">size</span>
									</span>
									<span class="posgram ico-bg">
										<span class="pos" title="A word that describes an action, condition or experience.">verb</span>
										<span class="gram">
											<a href="https://dictionary.cambridge.org/help/codes.html">[
												<span class="gcs">
													<span title="Transitive verb: a verb that has an object." class="gc">T</span>
												</span>]</a>
										</span>
									</span>
								</div>
								<span class="pron-info">
									<span class="uk">
										<span class="region">uk</span>
										<span title="size: listen to British English pronunciation" data-src-mp3="https://dictionary.cambridge.org/media/english/uk_pron/u/uks/uksit/uksitua011.mp3"
										 data-src-ogg="https://dictionary.cambridge.org/media/english/uk_pron_ogg/u/uks/uksit/uksitua011.ogg" class="circle circle-btn sound audio_play_button uk">
											<i class="fcdo fcdo-volume-up">​</i>
										</span>
									</span>
									<span class="uk">
										<span class="pron">/
											<span class="ipa">saɪz</span>/</span>
									</span>
								</span>
								<span class="pron-info">
									<span class="us">
										<span class="region">us</span>
										<span title="size: listen to American pronunciation" data-src-mp3="https://dictionary.cambridge.org/media/english/us_pron/s/siz/size_/size.mp3"
										 data-src-ogg="https://dictionary.cambridge.org/media/english/us_pron_ogg/s/siz/size_/size.ogg" class="circle circle-btn sound audio_play_button us">
											<i class="fcdo fcdo-volume-up">​</i>
										</span>
									</span>
								</span>

								<div class="share rounded js-share">
									<span class="point"></span>
									<a class="circle bg--fb socialShareLink" title="Share this entry on Facebook" href="https://www.facebook.com/sharer.php?u=https%3A%2F%2Fdictionary.cambridge.org%2Fdictionary%2Fenglish%2Fsize&amp;t=size+Meaning+in+the+Cambridge+English+Dictionary"
									 target="_blank" data-social="facebook" data-url="https://www.facebook.com/sharer.php?u=https%3A%2F%2Fdictionary.cambridge.org%2Fdictionary%2Fenglish%2Fsize&amp;t=size+Meaning+in+the+Cambridge+English+Dictionary"
									 data-object="entry">
										<i class="fcdo fcdo-facebook" aria-hidden="true"></i>
									</a>
									<a class="circle bg--tw socialShareLink" title="Tweet this entry" href="https://twitter.com/intent/tweet?url=https%3A%2F%2Fdictionary.cambridge.org%2Fdictionary%2Fenglish%2Fsize&amp;text=size+Meaning+in+the+Cambridge+English+Dictionary"
									 target="_blank" data-social="twitter" data-url="https://twitter.com/intent/tweet?url=https%3A%2F%2Fdictionary.cambridge.org%2Fdictionary%2Fenglish%2Fsize&amp;text=size+Meaning+in+the+Cambridge+English+Dictionary"
									 data-object="entry">
										<i class="fcdo fcdo-twitter" aria-hidden="true"></i>
									</a>
									<a class="circle bg--more js-accord" title="More" href="#">
										<i class="fcdo fcdo-plus"></i>
										<i class="fcdo fcdo-minus"></i>
									</a>
									<div class="oflow-hide js-share-toggle">
										<a class="circle bg--gp socialShareLink" title="Share this entry on Google+" href="https://plus.google.com/share?url=https%3A%2F%2Fdictionary.cambridge.org%2Fdictionary%2Fenglish%2Fsize"
										 target="_blank" data-social="google" data-url="https://plus.google.com/share?url=https%3A%2F%2Fdictionary.cambridge.org%2Fdictionary%2Fenglish%2Fsize"
										 data-object="entry">
											<i class="fcdo fcdo-google-plus" aria-hidden="true"></i>
										</a>
										<a class="circle bg--di socialShareLink" title="Share this entry on Diigo" href="https://www.diigo.com/post?url=https%3A%2F%2Fdictionary.cambridge.org%2Fdictionary%2Fenglish%2Fsize&amp;title=size+Meaning+in+the+Cambridge+English+Dictionary"
										 target="_blank" data-social="diigo" data-url="https://www.diigo.com/post?url=https%3A%2F%2Fdictionary.cambridge.org%2Fdictionary%2Fenglish%2Fsize&amp;title=size+Meaning+in+the+Cambridge+English+Dictionary"
										 data-object="entry">
											<i class="fcdo fcdo-diigo" aria-hidden="true"></i>
										</a>
										<a class="circle bg--su socialShareLink" title="Share this entry on StumbleUpon" href="https://www.stumbleupon.com/likecontent?url=https%3A%2F%2Fdictionary.cambridge.org%2Fdictionary%2Fenglish%2Fsize&amp;title=size+Meaning+in+the+Cambridge+English+Dictionary"
										 target="_blank" data-social="stumbleupon" data-url="https://www.stumbleupon.com/likecontent?url=https%3A%2F%2Fdictionary.cambridge.org%2Fdictionary%2Fenglish%2Fsize&amp;title=size+Meaning+in+the+Cambridge+English+Dictionary"
										 data-object="entry">
											<i class="fcdo fcdo-stumbleupon" aria-hidden="true"></i>
										</a>
										<a class="circle bg--tu socialShareLink" title="Share this entry on Tumblr" href="https://www.tumblr.com/share/link?url=https%3A%2F%2Fdictionary.cambridge.org%2Fdictionary%2Fenglish%2Fsize&amp;name=size+Meaning+in+the+Cambridge+English+Dictionary"
										 target="_blank" data-social="tumblr" data-url="https://www.tumblr.com/share/link?url=https%3A%2F%2Fdictionary.cambridge.org%2Fdictionary%2Fenglish%2Fsize&amp;name=size+Meaning+in+the+Cambridge+English+Dictionary"
										 data-object="entry">
											<i class="fcdo fcdo-tumblr" aria-hidden="true"></i>
										</a>
										<a class="circle bg--re socialShareLink" title="Share this entry on Reddit" href="https://www.reddit.com/submit?url=https%3A%2F%2Fdictionary.cambridge.org%2Fdictionary%2Fenglish%2Fsize&amp;title=size+Meaning+in+the+Cambridge+English+Dictionary"
										 target="_blank" data-social="reddit" data-url="https://www.reddit.com/submit?url=https%3A%2F%2Fdictionary.cambridge.org%2Fdictionary%2Fenglish%2Fsize&amp;title=size+Meaning+in+the+Cambridge+English+Dictionary"
										 data-object="entry">
											<i class="fcdo fcdo-reddit-alien" aria-hidden="true"></i>
										</a>
										<a class="circle bg--def socialShareLink" title="Share this url" dsp-txt="https://dictionary.cambridge.org/dictionary/english/size"
										 data-social="url" data-url="https://dictionary.cambridge.org/dictionary/english/size" data-object="entry">
											<i class="fcdo fcdo-link" aria-hidden="true"></i>
										</a>
									</div>
								</div>
							</div>
							<div class="pos-body">

								<div class="sense-block" id="business-english-1-2-1">
									<div class="sense-body">
										<div class="def-block pad-indent" data-wl-senseid="ID_00015910_04">
											<p class="def-head semi-flush">
												<span class="def-info">
													<span class="freq">›</span>
												</span>
												<b class="def">to make something a particular size: </b>
											</p>
											<span class="def-body">
												<div class="examp emphasized">
													<span title="Example" class="eg">Word
														<a class="query" href="https://dictionary.cambridge.org/dictionary/english/allow" title="allows">allows</a> you to size the
														<a class="query" href="https://dictionary.cambridge.org/dictionary/english/font"
														 title="font">font</a> in a
														<a class="query" href="https://dictionary.cambridge.org/dictionary/english/document" title="document">document</a>.</span>
												</div>
											</span>
										</div>
									</div>
								</div>

								<div class="sense-block" id="business-english-1-2-2">
									<div class="sense-body">
										<div class="def-block pad-indent" data-wl-senseid="ID_00015910_05">
											<p class="def-head semi-flush">
												<span class="def-info">
													<span class="freq">›</span>
												</span>
												<b class="def">to
													<a class="query" href="https://dictionary.cambridge.org/dictionary/english/measure" title="measure">measure</a> how
													<a class="query" href="https://dictionary.cambridge.org/dictionary/english/big" title="big">big</a> or
													<a class="query" href="https://dictionary.cambridge.org/dictionary/english/small" title="small">small</a> something is: </b>
											</p>
											<span class="def-body">
												<div class="examp emphasized">
													<span title="Example" class="eg">Demographic
														<a class="query" href="https://dictionary.cambridge.org/dictionary/english/data" title="data">data</a> is
														<a class="query" href="https://dictionary.cambridge.org/dictionary/english/critical" title="critical">critical</a> in helping
														<a class="query" href="https://dictionary.cambridge.org/dictionary/english/company"
														 title="companies">companies</a> size their
														<a class="query" href="https://dictionary.cambridge.org/dictionary/english/market"
														 title="markets">markets</a>.</span>
												</div>
											</span>
										</div>
									</div>
								</div>
								<div class="cols cols--half">
									<div class="cols__col">
										<div class="xref see_also">
											<h3 class="h4 txt-block txt-block--alt">
												<strong class="xref-title">See also</strong>
											</h3>


											<div class="item">
												<a href="https://dictionary.cambridge.org/dictionary/english/right-size" title="meaning of right-size">
													<span class="x-h">right-size</span>
												</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div class="definition-src">
		<p>
			<small>(Definition of “size” from the
				<a href="https://dictionary.cambridge.org/dictionary/english/" title="Cambridge English Dictionaries"
				 class="a--rev">
					<b>Cambridge Business English Dictionary</b>
				</a> © Cambridge University Press)</small>
		</p>
	</div>

</div>