/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 5, 2018, 2:55:58 PM
    Author     : chau
*/

.dataTables_length {
    display: inline-block;
}
.table-responsive .dataTables_wrapper table input {
    width: 100%;
}
.table-responsive #DataTables_Table_0 {
    width: 100%;
    overflow: auto;
}
.table-responsive #DataTables_Table_0 thead tr th {
    min-width: 100px;
}
.table-responsive #DataTables_Table_0 thead tr th:first-child {
    min-width: 20px;
}
.display_none{
    display: none;
}