.jqstooltip {
    position: absolute;
    left: 0px;
    top: 0px;
    visibility: hidden;
    background: rgb(0, 0, 0) transparent;
    background-color: rgba(0, 0, 0, 0.6);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000, endColorstr=#99000000)";
    color: white;
    font: 10px arial, san serif;
    text-align: left;
    white-space: nowrap;
    padding: 5px;
    border: 1px solid white;
    z-index: 10000;
}

.jqsfield {
    color: white;
    font: 10px arial, san serif;
    text-align: left;
}

.iw-contextMenu {
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.10);
    border: 1px solid #c8c7cc;
    border-radius: 11px;
    display: none;
    z-index: 1000000132;
    max-width: 300px;
}

.iw-cm-menu {
    background: #fff;
    color: #000;
    margin: 0px;
    padding: 0px;
}

.iw-curMenu {}

.iw-cm-menu li {
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, Ubuntu, sans-serif;
    list-style: none;
    padding: 10px;
    padding-right: 20px;
    border-bottom: 1px solid #c8c7cc;
    cursor: pointer;
    position: relative;
    font-size: 14px;
    margin: 0;
    line-height: inherit;
}

.iw-cm-menu li:first-child {
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
}

.iw-cm-menu li:last-child {
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
    border-bottom: none;
}

.iw-mOverlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: #FFF;
    opacity: .5;
}

.iw-contextMenu li.iw-mDisable {
    opacity: 0.3;
    cursor: default;
}

.iw-mSelected {
    background-color: #F6F6F6;
}

.iw-cm-arrow-right {
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #000;
    position: absolute;
    right: 5px;
    top: 50%;
    margin-top: -5px;
}

.iw-mSelected>.iw-cm-arrow-right {}

/*context menu css end */

@-webkit-keyframes load4 {
    0%,
    100% {
        box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }
    12.5% {
        box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    25% {
        box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    37.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
        box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
        box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
}

@keyframes load4 {
    0%,
    100% {
        box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
    }
    12.5% {
        box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    25% {
        box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
    }
    37.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    50% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
    }
    62.5% {
        box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
    }
    75% {
        box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
    }
    87.5% {
        box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
    }
}

/*leftbar css*/
.nav-primary .nav li[show-demo="true"]{
    /*display: none;*/
}
.dataTables_wrapper .col-sm-6 .dataTables_length{
    float: right;
}
.dataTables_wrapper .col-sm-6 .dataTables_filter{
    float: left;
}

section>#content{
    background: rgb(254, 241, 245);
}
section >#content>.si-content>header{
    min-height: 34px;
    height: 34px;
}
section>#content>.si-content>.scrollable>.m-b-md h3
{
    margin-top:0
}
section>#content>.si-content>.scrollable {
    padding-top:0
}
.table-responsive .dataTables_wrapper select,.table-responsive .dataTables_wrapper input{
    margin-left: 5px;
    margin-right: 5px;
}
.slim-scroll .nav-primary .nav li a span:nth-child(3){
    display: flex;
}
table.dataTable tbody tr:hover td {
    background-color: #f6f6f6!important;
}
.slimScrollBar{
    width: 11px!important
}
table.dataTable thead tr th:first-child,
table.dataTable tbody tr td:first-child{
    /*display: none;*/
}


/*icon image*/

.icon-nt{
    background: url(../images/icons/nt.png) no-repeat 6px 6px;
}
.icon-tn{
    background: url(../images/icons/tnhs.png) no-repeat 11px 11px;
}
.icon-cdha{
    background: url(../images/icons/cdha.png) no-repeat 6px 6px;
}
.icon-pttt{
    background: url(../images/icons/pttt.png) no-repeat 6px 6px;
}
.icon-dtnt{
    background: url(../images/icons/dtnt.png) no-repeat 6px 6px;
}
.icon-cpt{
    background: url(../images/icons/cpt.png) no-repeat 6px 6px;
}
.icon-vp{
    background: url(../images/icons/vp.png) no-repeat 6px 6px;
}
.icon-qlmh{
    background: url(../images/icons/qlmh.png) no-repeat 6px 6px;
}
.icon-qlttb{
    background: url(../images/icons/qlttb.png) no-repeat 6px 6px;
}
.icon-qlct{
    background: url(../images/icons/qlct.png) no-repeat 6px 6px;
}
.icon-bctk{
    background: url(../images/icons/bctk.png) no-repeat 6px 6px;
}

.icon-tn,.icon-nt,.icon-cdha,.icon-pttt,.icon-dtnt,.icon-cpt,.icon-vp,.icon-qlmh,.icon-qlttb,.icon-qlct,.icon-bctk{
    height: 45px;
    width: 45px!important;
    padding: 16px;
    background-origin: border-box;
    display: block;
    background-repeat: no-repeat;
    background-size: 30px 30px;
}
.nav-primary ul.nav>li>a:hover>i,
.nav-primary ul.nav>li>a:active>i,
.nav-primary li ul.nav>.active>a>i
{
    background-color: #65bd77;
}

.nav-primary li.active_main a i{
    background-color: #65bd77;
}
.nav-primary li ul.nav li a span{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: inherit;
}
.nav-primary ul.nav>li>a:hover>i b,
.nav-primary ul.nav>li>a:active>i b{
    background-color: transparent;
}
.nav .bg-primary{
    display: none;
}
.nav-primary ul.nav>li>a>i.icon{
    color: white;
}
.slimScrollBar {
    background: white!important;
}
.navbar-fixed-top-xs{
    z-index: 1;
}