#onchange{
    width: 100%;
    padding: 0;
    height: 25px;
    margin-top: -7px!important;
    margin-left: -7px!important;
    margin-right: -7px!important;
}
.form-group .text-center{
    text-align: center;
}
.table-responsive .dataTables_wrapper table input {
    width: 90%;
}