
#DataTables_Table_0 [data-example="example_more"] tbody input{
    /* background: red; */
    /* -webkit-box-shadow: 0px 0px 0px 1px rgba(255,0,0,1); */
    /* -moz-box-shadow: 0px 0px 0px 1px rgba(255,0,0,1); */
    /* box-shadow: 0px 0px 0px 1px rgba(255,0,0,1); */
}
section>#content{
    /*z-index: 0;*/
    position: relative;
}
.nav-off-screen{
    z-index: 3;
}
.table-responsive #DataTables_Table_0_wrapper{
    width: 100%;
    overflow: auto;
}
#subNav #list_role .active a{
    text-decoration: none;
    background-color: #eee;
}
.dataTables_paginate span .current{
    background:#e2e2e2;
}
#permission_name #list_role{
    height: calc(100% - 70px);
    overflow: auto;
}
.datepicker.dropdown-menu{
    z-index: 1213;
}
#category_name .doc-buttons{
    text-align: right;
}
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
    color: white;
    cursor: default;
    background-color: green;
    border: 1px solid #dddddd;
    border-bottom-color: transparent;
} 
select option:disabled {
   background: #ccc;
   width: 500px;
   padding: 5px;
}

div.modal-body{
    display: grid;
    overflow: auto;
    height: calc(100% - 168px);
}
div.modal-content{
    height: 99vh;
    /*position: fixed;*/
    margin: auto;
}
div.modal-dialog{
    width: calc(100vw - 40px)!important;
    margin: 20px;
}
div.modal{
    height: calc(100vh - 20px);
    overflow: hidden;
}
div.table-responsive .row{
    margin-left: 0;
    margin-right: 0;
}
.modal-open .modal{
    overflow: hidden;
}
.modal-title{
    text-align: center;
    text-transform: uppercase;
}
@media (max-width: 767px)
{
    html, body{
        overflow: hidden;
    }
}

table.dataTable tbody .go-to-link:hover td,
 .go-to-link:hover td{
    background-color: #fcfade!important;
}
.go-to-link{
    cursor: pointer;
}

.scrollable >div>h3{
    text-transform: uppercase;
}
.panel{
    -webkit-box-shadow: none;
    box-shadow: none;
}
.show-mess-delete{
    width: 100%; 
    border: none!important; 
    font-size: 18px; 
    background: none; 
    text-align: center;
}
.hr-show{
border: 1px solid;width:100%;
}
a[data-toggle=collapse]{
padding: 1px 6px;
}

div[id^="myXoa"] .modal-content,div[id^="myDele"] .modal-content{
    height: 75%;
    max-width: 60%;
}
