#myAdd .modal-dialog{
    /*width: 1200px!important;*/
    /* width: 1132px!important; */
    /* background: red!important; */
}
.table-responsive table tbody tr td:nth-child(3){
    /* background: red; */
    /* text-transform: lowercase; */
}

.si-header{
	text-align: center;
}
.left {
    float: left;
}
.left2 {
    overflow: hidden;
    display: block;
    padding: 0 4px 0 10px
}
.left2 input {
    width: 100%
}

/* input[type=text], textarea{
	border: dotted 1px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    background: #f7f7f7;
    padding-left: 5px;
    padding-bottom: 0px;
    padding-top: 1px;
} */
textarea{
    width: 100%;
}

.container >.row{
	padding:10px;
}

@media(max-width:992px){
	.container >.row>div{
		clear:both;
	}
}

.si-table-basic table,.si-table-basic th,.si-table-basic td {
    border: 1px solid black;
    border-collapse: collapse;
}
.si-table-basic th,.si-table-basic td {
    padding: 10px;
}
.center{
    text-align: center;
}
.right{
    text-align: right;
}
.bold-under{
    font-weight: bold;
    text-decoration: underline;
}
.leo-cot{
    -ms-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(-90deg);
    -ms-transform-origin: left top 0;
    -moz-transform-origin: left top 0;
    -webkit-transform-origin: left 0;
    /* transform-origin: left top 0; */
    color:black;
    margin-left: -16px;
    padding: 0px;
    font-size: 10px;
    float: left;
}
.tb-1-row .row{
    margin-right: 0px;
    margin-left: -10px;
}
.font-thin{
    font-weight: 400;
}
/* css radio show checkbox https://stackoverflow.com/a/8079482/9811260*/
/* input[type="radio"] { */
input[show="radio"] {
    -webkit-appearance: checkbox; /* Chrome, Safari, Opera */
    -moz-appearance: checkbox;    /* Firefox */
    -ms-appearance: checkbox;     /* not currently supported */
}
.bd-all{
    border: 1px solid;
}
.bd-top{
    border-top: 1.5px solid;
}
.bd-bottom{
    border-bottom: 1.5px solid;
}
.bd-right{
    border-right: 1.5px solid;
}
.bd-left{
    border-left: 1.5px solid;
}
.row.pd-none{
    padding: 0;
}
.row .pd-px{
    padding: 10px;
}
input.text-frame{
    width: 30px;
    border: 1px solid;
    margin-left: -5px;
}
input.text-frame-big{
    width: 65px;
    border: 1px solid;
    margin-left: -5px;
}
input.text-frame-one{
    width: 30px;
    border: 1px solid;
    /*margin-left: -5px;*/
}
label input[type="checkbox"]{
	margin: 0 4px 0px 4px;
}
.img-chuky{
    max-width: 200px;
}